.header
  background linear-gradient(0deg, rgba(19, 45, 0, 1), rgba(74, 119, 41, 1))
  color #baa400
  height 100vh
  text-align center
  margin-left -5px
  margin-right -5px
  margin-top -5px

.header h1
  font-size 45px
  margin-top 0
  padding-top 30vh

.header p
  font-size 20px
